<% content_for :title do %>User History
<% end %>
<section class="row">
  <div class="col-md-12">
    <%= @user.name %> &ndash; <%= @user.date_of_birth.to_formatted_s(:short) %> &ndash; <%= @user.gender %>
  </div>
</section>
<section class="row">
  <div class="col-md-12"><h2>Medication History</h2></div>
  <% if @user.prescriptions.count == 0 %>
      <div class="col-md-12">
        <div class="alert alert-warning">No Prescriptions</div>
      </div>
  <% else %>
      <% @user.prescriptions.each do |prescription| %>
          <% unless prescription.id.nil? %>
              <div class="col-md-12">
                <%= prescription.name %>&ndash; <%= prescription.date_issued.to_formatted_s(:short) %>
              </div>
          <% end %>
      <% end %>
  <% end %>


    <div class="col-md-12"><%= form_for([@user, @new_prescription]) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :date_issued %>
          <%= f.date_field :date_issued, class: 'form-control' %>
        </div>
        <%= f.submit %>
    <% end %></div>

</section>