<!DOCTYPE html>
<html>
<head>
  <title>HealthTrack</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css', media: 'all' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <header class="col-md-12">
      <h1>HealthTrack
        <small><%= yield :title %></small>
      </h1>
    </header>
  </div>

  <% unless flash.empty? %>
      <div class="row">
        <div class="col-md-12">
          <% if flash.notice %>
              <div class="alert alert-info">
                <%= flash.notice %>
              </div>
          <% end %></div>
        <div class="col-md-12">
          <% if flash.alert %>
              <div class="alert alert-danger">
                <%= flash.alert %>
              </div>
          <% end %></div>
      </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <% if current_user %>
          <div class="row">
            <%= content_tag :div, "Welcome #{current_user.name}", class: 'col-md-12' %>
          </div>
      <% end %>
      <nav class="row">
        <div class="col-md-12">
          <div class="list-group">
            <% if current_user %>

                <%= link_to 'Log Out', session_path("current"), method: :delete, class: 'list-group-item' %>
            <% else %>
                <%= link_to 'Create User', new_user_path, class: 'list-group-item' %>
                <%= link_to 'Log In', new_session_path, class: 'list-group-item' %>
            <% end %>
          </div>
        </div>
      </nav>
      <div class="row">

      </div>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
